@import "../utility/vars";
@import "../utility/mixins";

%button {
  padding: 10px 20px;
  display: inline-block;
}

.register-button a,
.register-button-link {
  @extend %button;
  @include font-size(33);
  font-weight: bold;
  font-family: $secondary_font;
  color: #fff;
  background-color: $red;
  margin: 10px 10px 13px;
}

.register-button.cta-link a {
  padding: 10px 55px;
}

.sm-donate {
  @extend %button;
  color: $red;
  @include font-size(22);
  font-weight: bold;
  font-family: $secondary_font;
  border: 2px solid $red;
}

.donate-button {
  @extend .sm-donate;
  border: none;
  background-color: $red;
  color: #fff;
  @include double_border(3px, $tan, 3px, $red);
  margin: 6px;
}

%standard-button {
  @extend %button;
  @include font-size(18);
  font-weight: bold;
  font-family: $secondary_font;
  color: #fff;
}

.standard-button-blue {
  @extend %standard-button;
  background-color: $bright_blue;
  @include triple_border(1px, $navy_blue, 3px, $bright_blue, 1px, $navy_blue);
  margin: 5px;
}
.standard-button-red {
  @extend %standard-button;
  background-color: $red;
  @include double_border(1px, $darker_red, 3px, $red);
  margin: 4px;
}
.standard-button-gold,
.standard-button-gold-inner a {
  @extend %standard-button;
  background-color: $gold;
  @include triple_border(1px, $dark_gold, 3px, $gold, 1px, $dark_gold);
  margin: 5px;
}

%inline-button {
  @include font-size(18);
  font-family: $secondary_font;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;

  @include breakpoint-min($screen_sm) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-right: 0;
  }
  a {
    @extend %button;
    border-radius: $radius_ex_sm;
  }
}

.taxonomy-button {
  @extend %inline-button;

  a {
    color: $lt_navy_blue;
    border: 1px solid $lt_navy_blue;
  }
}

.resource-button {
  @extend %inline-button;

  a {
    color: #fff;
    background-color: $lt_navy_blue;
  }
}

.overview-button-filter {
  a, span {
    @extend %button;
    @include font-size(20);
    color: $red;
    @include triple_border(1px, $red, 2px, #fff, 1px, $red);
    margin: 4px 14px 24px;
  }
}

.donation-amounts {
  .donation-amount {
    @extend %button;
    color: #fff;
    @include font-size(36);
    font-style: italic;
    @include negative_radius($gold, 10px);
    margin-right: 20px;
    text-shadow: 1px 1px 1px #000;

    &:last-child {
      margin-right: 0;
    }
  }
}
